#header {
 top: 0;
 height: 61px;
 background-image: url("/budmonitor/static/img/resif_header.png");
}

.maintitle {
    border-bottom: 4px solid #4a99c6;
    color: black;
    font-family: Orienta,sans-serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 29.9375px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.navbar {
	background: #2b4493 none repeat scroll 0 0;
    border: 1px solid #2b4493;
    color: white;
    border-radius: 0;
    min-height: 28px !important;
    line-height: 28px;
}

.navbar-default .navbar-brand {
	color: white;	
	min-height:28px !important;
	height: 28px;
	padding-top: 2px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    min-height:28px !important;
    height: 28px;
    padding-top: 2px;
    font-weight: bold;
    font-family: Arial Unicode MS,Arial,sans-serif;
     font-size: 12px;
    
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: black;
    min-height:28px !important;
    height: 28px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    min-height:28px !important;
    height: 28px;
}

.label, .label-def {
	display: block;
	float: left;
	margin: 0 3px 3px 0;
	font-size: 100%;
	width: 5em;
	color: #515151;
	border: 1px solid #dddddd;
}

.label-def {
	width: 6em;
}

.label-invalid, .table tbody tr > td.invalid {
	background-color: gray;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 15px);
}

.label-inf1min, .table tbody tr > td.inf1min {
	background-color: #FFFFFF;
}

.label-sup1min, .table tbody tr > td.sup1min {
	/*background-color: EBD6FF;*/
	background-color: #AAFFFF;
}

.label-sup10min, .table tbody tr > td.sup10min {
	/*background-color: 9470BB;*/
	background-color: #55FFFF;
}

.label-sup30min, .table tbody tr > td.sup30min {
	/*background-color: 3399FF;*/
	background-color: #00FFFF;
}

.label-sup1hour, .table tbody tr > td.sup1hour {
	/*background-color: 00FF00;*/
	background-color: #00FF00;
}

.label-sup2hour, .table tbody tr > td.sup2hour {
	/*background-color: FFFF00;*/
	background-color: #7FFF00;
}

.label-sup6hour, .table tbody tr > td.sup6hour {
	/*background-color: FF9966;*/
	background-color: #BFFF00;
}

.label-sup1day, .table tbody tr > td.sup1day {
	/*background-color: FF3333;*/
	background-color: #FFFF00;
}

.label-sup2days, .table tbody tr > td.sup2days {
	/*background-color: FFCCCC;*/
	background-color: #FFBF00;
}

.label-sup3days, .table tbody tr > td.sup3days {
	/*background-color: CCCCCC;*/
	background-color: #FF7F00;
}

.label-sup4days, .table tbody tr > td.sup4days {
	/*background-color: 999999;*/
	background-color: #FF3F00;
}

.label-sup5days, .table tbody tr > td.sup5days {
	/*background-color: 666666;*/
	background-color: #FF0000;
}

.table th, td {
   text-align: center;  
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:960px;
}

.col-min {
    /* custom min width */
    min-width:320px;
}

.col-max {
    /* custom max width */
    max-width:320px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.modal-body {
	text-align: center;	
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body .modal .modal-dialog {
    width: 850px;
}

html,
body {
    width:100%;
    height:100%;
}
