<%inherit file="/base.html"/>

<%block name="content">
	<div class="row row-centered">
		<div class="alert alert-warning col-centered col-xs-6 col-fixed">Invalid request or page not found.</div>
	</div>
</%block>
