<html>
<%page cached="False" cache_type="memory"/>
<head>
    <title>RESIF - BUD Monitor</title>
  
    <!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
		  	integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
		  	crossorigin="anonymous"></script>
		  	
	<!-- bootstrap --> 	
	<!--   	
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
	-->
	<script src="/budmonitor/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/budmonitor/static/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	
	<!-- custom -->
	<script src="/budmonitor/static/resif.js"></script>
	<link rel="stylesheet" href="/budmonitor/static/resif.css">
	
	<!-- rendering on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered col-fixed" id="header"></div>
    </div>
	<div class="row row-centered">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default col-centered col-xs-6 col-fixed">
		<div class="navbar-inner">
	 		<div class="container">
	   			<div class="navbar-header">
	     			<a class="navbar-brand" href="/">
	     				<span class="glyphicon glyphicon-home"></span> 
	     			</a>
	   			</div>
				<!--
	   			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     			<ul class="nav navbar-nav">
	     			 	<li><a href="/" class="btn btn-lg">Seismic data</a></li>
	     			 	<li><a href="/" class="btn btn-lg">Seismic networks</a></li>
	     			 	<li><a href="/" class="btn btn-lg">Citing data	Organization</a></li>
	     			 	<li><a href="/" class="btn btn-lg">Support</a></li>
	     			</ul>
	   			</div>
				-->
	   		</div>
	 	</div>
	</nav>
	</div>
	<div class="row row-centered">
		<div class="maintitle col-centered col-xs-6 col-fixed">Seedlink data latency</div>
	</div>
	<%block name="content"/>
</div><!-- Container -->
			
</body>
</html>
