<%inherit file="/base.html"/>

<%block name="content">
	<div class="row row-centered">
		<div class="alert alert-warning col-centered col-xs-6 col-fixed">Internal Error, please contact the RESIF administrator.</div>
	</div>
</%block>