<%inherit file="/base.html"/>

<%block name="content">
	<div class="row row-centered">
		<div class="col-centered col-xs-6 col-fixed">
			<div class="panel panel-default">
		  		<div class="panel-heading">
		    		<h3 class="panel-title">Latency definition</h3>
		 		</div>
		  		<div class="panel-body">
		  			<span class="label label-def label-invalid">invalid</span>
	  				<span class="label label-def label-inf1min">&lt; 1 min</span>
	  				<span class="label label-def label-sup1min">&ge; 1 min</span>
	  				<span class="label label-def label-sup10min">&gt 10 min</span>
	  				<span class="label label-def label-sup30min">&gt 30 min</span>
	  				<span class="label label-def label-sup1hour">&gt 1 hour</span>
	  				<span class="label label-def label-sup2hour">&gt 2 hours</span>
	  				<span class="label label-def label-sup6hour">&gt 6 hours</span>
	  				<span class="label label-def label-sup1day">&gt 1 day</span>
	  				<span class="label label-def label-sup2days">&gt 2 days</span>
	  				<span class="label label-def label-sup3days">&gt 3 days</span>
	  				<span class="label label-def label-sup4days">&gt 4 days</span>
	  				<span class="label label-def label-sup5days">&gt 5 days</span>
		  		</div>
			</div>
		    % for network in networks:
		   	<div class="panel panel-default">
		  		<div class="panel-heading">
		    		<h3 class="panel-title"><A HREF="http://seismology.resif.fr/#NetworkConsultPlace:${network['id']}">Network ${network['id']}</A></h3>
		 		</div>
		  		<div class="panel-body">
		  			% for station in network['stations']:
		  				<a href="/budmonitor/station/${network['id']}/${station['id']}">
		  					<span class="label label-${station['label']}">${station['id']}</span>
		  				</a>
		  			% endfor
		  		</div>
			</div>
		    % endfor
		    
		</div>
    </div>
</%block>

