<%inherit file="/base.html"/>

<%block name="content">
	<div class="row row-centered">
		<div class="col-centered col-xs-6 col-fixed">
			<div class="panel panel-default">
		  		<div class="panel-heading">
		    		<h3 class="panel-title">Latency definition</h3>
		 		</div>
		  		<div class="panel-body">
		  			<span class="label label-def label-invalid">invalid</span>
	  				<span class="label label-def label-inf1min">&lt; 1 min</span>
	  				<span class="label label-def label-sup1min">&ge; 1 min</span>
	  				<span class="label label-def label-sup10min">&gt 10 min</span>
	  				<span class="label label-def label-sup30min">&gt 30 min</span>
	  				<span class="label label-def label-sup1hour">&gt 1 hour</span>
	  				<span class="label label-def label-sup2hour">&gt 2 hours</span>
	  				<span class="label label-def label-sup6hour">&gt 6 hours</span>
	  				<span class="label label-def label-sup1day">&gt 1 day</span>
	  				<span class="label label-def label-sup2days">&gt 2 days</span>
	  				<span class="label label-def label-sup3days">&gt 3 days</span>
	  				<span class="label label-def label-sup4days">&gt 4 days</span>
	  				<span class="label label-def label-sup5days">&gt 5 days</span>
		  		</div>
			</div>
			
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title" id="seedplottitle"></h4>
			      </div>
			      <div class="modal-body">
			      	<div class="loading">Please wait the data load.</div>
					<div class="loading loader"></div>
					<div id="seedplot"></div>        
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
		    		<h3 class="panel-title"><a href="/budmonitor/">All networks</a> > Network : ${network} > Station : ${station}</h3>
		 		</div>
		 		<div class="panel-body">
		 			<div class="table-responsive">
		 		 		<table class="table">
		 		 		<thead>
		 		 			<tr>
		 		 				<th>Location</th>
		 		 				<th>Channel</th>   
								<th>Data latency</th>
								<th>Feed latency</th>
								<th>Total latency</th>
								<th>Waveform plot</th>
		 		 			</tr>
		 		 		</thead>
		 		 		<tbody>
		 		 		% for channel in channels:
		 		 		<tr>
      						<td>${channel['location']}</th>
      						<td>${channel['channel']}</td>
      						<td class="${channel['dataLatencyLabel']}">${channel['dataLatency']}</td>
      						<td class="${channel['feedLatencyLabel']}">${channel['feedLatency']}</td>
      						<td class="${channel['totalLatencyLabel']}">${channel['totalLatency']}</td>
      						<td>
								<button type="button" class="btn btn-plot" seedid="${channel['seedid']}">
      								<img src="/budmonitor/static/img/primary-plot-14px.png" height="14" width="14">
    							</button>
		  					</td>
    					</tr>
			  			% endfor
			  			</tbody>
			  			</table>
					</div> 
		  		</div>
			</div>
		</div>
    </div>
</%block>
